body{
	background-color:#111111;
	color: #fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align: right;	
}

#contenido{
	width: 490px;	
}

#comment-form label {
	color: #f5bd28;
	display: block;
	font-size: 11px;
	float: left;
	margin: -5px 10px 0 0;
	text-align: right;	
	width: 100px;
}

	
#comment-form input{
	background: #000 url(/files/images/feedback/input.jpg) no-repeat top left;
	border: 1px solid #1c1c1c;
	border: 0 none;	
	color: #aaa;	
	font-size: 11px;	
	outline: none;
	display: block;
	padding: 6px 7px 0px 7px;
	margin: 0 0 7px 0;
	height: 19px;
	width: 226px;
}

#comment-form input:hover {			
	/*background-position: top right;*/
	background-position: -480px 0;	
}

#comment-form input:focus, #comment-form input:active {
	background-position: -240px 0 !important;
	color: #fff;
	}

#comment-form textarea {
	background: #000;
	border: 1px solid #1c1c1c;
	/*border: 0 none;*/
	color: #ccc;
	font: 11px/22px "lucida grande",verdana,sans-serif;
	float: left;
	display: block;
	padding: 5px 7px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 350px;
	height:250px;
}

#comment-form textarea:hover {	
	border: 1px solid #363131;
}

#comment-form #submit {
	background: #000 url(/files/images/feedback/ok.png) no-repeat bottom right;
	border: 1px solid #363131;
	color: #000;
	width: 70px;
	height: 25px;
	padding: 0;	
	float: right;	
	margin-right: 30px;
	margin-left: 30px;	
}

#comment-form #submit:focus{
	border: 1px solid #f5bd28;
	background: #000;
	color: #FFF;
}

#comment-form #submit:hover{
	border: 1px solid #f5bd28;
	color: #FFF;	
}

#comment-form #id_fecha{
	display:none;
}

